aws_region = "eu-north-1"
vpc_cidr   = "10.0.0.0/16"

subnets = {
  eu-north-1a = {
    public_cidr = "10.0.0.0/24"
    app_cidr    = "10.0.10.0/24"
    db_cidr     = "10.0.20.0/24"
  }

  eu-north-1b = {
    public_cidr = "10.0.1.0/24"
    app_cidr    = "10.0.11.0/24"
    db_cidr     = "10.0.21.0/24"
  }
}

db_engine_version = "17.10"
domain_name = "example.tech"
vaultwarden_domain_name = "vault.example.tech"